<key>NSCameraUsageDescription</key>
<string>Allow camera access for real-time detection.</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>Allow access to pick Core ML models from storage.</string>
<key>UIFileSharingEnabled</key>
<true/>
<key>LSSupportsOpeningDocumentsInPlace</key>
<true/>
